* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url("images/bg01.jpg");
  width: 100%;
  height: 100%;
  font-family: kanit;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.blurbox {
  position: relative;
  width: 250px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurbox:after {
  content: '';
  width: 300px;
  height: 300px;
  background: inherit;
  position: absolute;
  left: -20px;
  right: 0;
  top: -25px;
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  filter: blur(10px);
}

.user-login-box {
  position: relative;
  margin-top: 30px;
  text-align: center;
  z-index: 1;
}

.user-login-box>* {
  display: inline-block;
  width: 200px;
}
.user-icon {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-image: url("icon/user.png");
  background-repeat: no-repeat;

}
.user-name{
  margin-top:10px;
  margin-bottom: 10px;
  color: #fff;

}
input.user-username{
  margin-bottom: 4px !important;
}
input.user-username,input.user-password{
  display: block;
  width: 200px;
  height: 18px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 15px 15px;
  border: none;
  margin: 0 auto;
  outline: none;

}
